.tile {
	aspect-ratio: 1 / 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1;
	width: 2.3em;
	text-transform: uppercase;
	border-radius: 0.1em;
	border: 2px solid var(--bgcolor-wrong);

	background: transparent;
	color: var(--color-text);

	&.wrong, &.ok, &.correct { border: none; }

	&.wrong {
		background: var(--bgcolor-wrong);
	}

	&.ok {
		background: var(--bgcolor-ok);
	}

	&.correct {
		background: var(--bgcolor-correct);
	}

	&.unknown {
		background: var(--bgcolor-wtf);
	}
}
