.game-panel {
	display: inline-flex;
	flex-direction: column;
	gap: var(--default-gap, 4px);
	cursor: pointer;

	> header {
		text-align: center;
		font-size: 1.3rem;
	}

	&.hide {
		.tile {
			.hideLetters();
		}
	}

	&.today {
		> header {
			background-color: @color[pi];
			color: @color[white];
			border-radius: 6px 6px 0 0;
		}
	}
}
