// Put your base-styles in here

:root {
	--bgcolor-wrong:    #333;
	--bgcolor-ok:       #b93;
	--bgcolor-correct:  #584;
	--bgcolor-solution: #900;
	--bgcolor-wtf:      #f00;

	--color-text:       #ddd;

	--default-gap:      2px;
}

body {
	font-family: Cartridge, Helvetica, sans-serif;
	color: @color_primary;
}
